<html>

<head>
    <title>Student Registration Form</title>

</head>
<style>
    h3 {
        font-family: Calibri;
        font-size: 25pt;
        font-style: normal;
        font-weight: bold;
        color: SlateBlue;
        text-align: center;
        text-decoration: underline
    }

    table {
        font-family: Calibri;
        color: white;
        font-size: 11pt;
        font-style: normal;
        font-weight: bold;
        background-color: SlateBlue;
        border-collapse: collapse;
        border: 2px solid navy
    }

    table.inner {
        border: 0px
    }
</style>

<body>
    <h3>STUDENT REGISTRATION FORM</h3>

    <form action="/studdata" method="post">
        <table align="center" cellpadding="10">

            <!----- First Name ---------------------------------------------------------->
            <!-- <tr>
                <td>corse_id</td>
                <td><input type="text" name="corse_id"/>
                    (max 30 characters a-z and A-Z)
                </td>
            </tr> -->

            <tr>
                <td>FIRST NAME</td>
                <td><input type="text" name="firstname" maxlength="30" />
                    (max 30 characters a-z and A-Z)
                </td>
            </tr>
    
            <!----- Last Name ---------------------------------------------------------->
            <tr>
                <td>LAST NAME</td>
                <td><input type="text" name="lastname" maxlength="30" />
                    (max 30 characters a-z and A-Z)
                </td>
            </tr>
    
            <!----- Date Of Birth -------------------------------------------------------->
            <tr>
                <td>DATE OF BIRTH</td>
    
                <td>
                    <input type="date" name="date" >
                  
                </td>
            </tr>
    
            <!----- Email Id ---------------------------------------------------------->
            <tr>
                <td>EMAIL ID</td>
                <td><input type="text" name="email" maxlength="100" /></td>
            </tr>
            <tr>
                <td>PASSWORD</td>
                <td><input type="password" name="password" maxlength="100" /></td>
            </tr>
    
            <!----- Mobile Number ---------------------------------------------------------->
            <tr>
                <td>MOBILE NUMBER</td>
                <td>
                    <input type="text" name="phone" maxlength="10" />
                    (10 digit number)
                </td>
            </tr>
    
            <!----- Gender ----------------------------------------------------------->
            <tr>
                <td>GENDER</td>
                <td>
                    Male <input type="radio" name="gender" value="Male" />
                    Female <input type="radio" name="gender" value="Female" />
                </td>
            </tr>
    
            <!----- Address ---------------------------------------------------------->
            
    
            <!----- City ---------------------------------------------------------->
            <tr>
                <td>CITY</td>
                <td><input type="text" name="city" maxlength="30" />
                    (max 30 characters a-z and A-Z)
                </td>
            </tr>
    
            <!----- Pin Code ---------------------------------------------------------->
            
            <!----- Hobbies ---------------------------------------------------------->
    
           
            <!----- Qualification---------------------------------------------------------->
            
    
            <!----- Course ---------------------------------------------------------->
     
    
            <tr>
                <% var city = ["web-developer","app-developer","game-design","web-design","android-developer"]%>
                <td>
                    <label>Select Your Corse</label>
                </td>
                <td>
                    
                    <select name="corse">
                        <option value="">--select Corse--</option>
                        <% city.forEach(function(e,i){ %>
                            <option value="<%= e %>"><%= e %></option>
                        <% }); %>
                      </select>
                </td>
            
                 
             
               
            </tr>
    
            <!----- Submit and Reset ------------------------------------------------->
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Submit">
                    <input type="reset" value="Reset">
                </td>
            </tr>
        </table>
    </form>
    


</body>

</html>